<div class="centered">
  <h4>List of images with "<%= @tag %>" tag</h4>
  <%= link_to 'Add new image', new_image_path %>
  <br>
  <%= link_to 'Back', images_path %>
  <table class="table">
    <tr>
      <th>Image ID</th>
      <th>Image</th>
      <th></th>
    </tr>
    <% @images.each do |image| %>
      <tr>
        <td>
          <label>
            <%= image.id %>
          </label>
        </td>
        <td>
          <%= image_tag(image.url, :class => "image-small") %>
          <p>
            <% image.tag_list.each do |tag| %>
              <%=  link_to tag, tagged_path(tag: tag)%>
            <% end %>
          </p>
        </td>
        <td>
          <%= button_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
